<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wild meassaging - new comment </title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  {{> nav}}

  <main class="container">
    <h1>New Comment</h1>
    <!-- erorr if not logged in or max length passed -->
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
<!-- new form to post-->
    <form class="form" method="POST" action="/comments/new_comment">
      <label>Comment - Max 500 charaters 
        <textarea name="text" required></textarea>
      </label>

      <button class="btn" type="submit">Post Comment</button>
    </form>
  </main>

  {{> footer}}
</body>
</html>
