
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wild meassage - register</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    {{> nav}}

    <main class="container">
        <h1>Register</h1>
<!--if error or success show the meassage-->
        {{#if error}}
            <p class="error">{{error}}</p>
        {{/if}}

        {{#if success}}
            <p class="success">{{success}}</p>
        {{/if}}
    <!--POST method to login register the username and password is required field-->
        <form class="form" action="/api/auth/register" method="POST">
            <label>Email
            <input name="email" required>
            </label>

            <label>Username
            <input name="username" required>
            </label>

            <label>Display name
            <input name="display_name" required>
            </label>

            <label>Password
            <input type="password" name="password" required>
            </label>

            <button class="btn" type="submit">Register</button>
        </form>

    </main>

    {{> footer}}
</body>
</html>

