<nav class="nav">
  <div class="nav-left">
    <a href="/">Wild West Forum</a>
    <a href="/comments">Feed</a>
    <a href="new_comment.html">New Comment</a>
  </div>

  <div class="nav-right">
    {{#if user}}
      <span>Welcome, {{user.name}}</span>
      <a href="/logout">Logout</a>
    {{else}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    {{/if}}
  </div>
</nav>